/* Base Styles */
.logo-text-full,
.logo-symbol {
  background-color: var(--text-primary);
}

.logo-text-full {
  aspect-ratio: 4 / 1; /* Based on original 320x80 math */
}

.logo-symbol {
  aspect-ratio: 1 / 1; /* Perfect square */
}

:host {
  display: flex;
  align-items: center;
}
