@if(pageReady()) {
<div class="container">
  <div class="card">
    @if (hasError) {
    <h2>{{ translate.instant('ACCESS.UPDATE_PASSWORD.LINK_EXPIRED') }}</h2>
    <!-- <p class="message error">
      {{ error() }}
    </p> -->
    <button class="btn-primary btn-wide" routerLink="/forgot-password">
      {{ translate.instant('ACCESS.UPDATE_PASSWORD.REQUEST_NEW_LINK') }}
    </button>
    }
    @else {
    <h2>{{ translate.instant('ACCESS.UPDATE_PASSWORD.TITLE') }}</h2>
    <p class="subtitle">{{ translate.instant('ACCESS.UPDATE_PASSWORD.SUBTITLE') }}</p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>{{ translate.instant('ACCESS.COMMON.PASSWORD_LABEL') }}</label>
        <input type="password" [(ngModel)]="newPassword" name="password"
          [placeholder]="translate.instant('ACCESS.COMMON.PASSWORD_PLACEHOLDER')" required
          (ngModelChange)="resetMessages();" />
      </div>

      <div class="form-group">
        <label>{{ translate.instant('ACCESS.COMMON.REPEAT_PASSWORD_LABEL') }}</label>
        <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword"
          [placeholder]="translate.instant('ACCESS.COMMON.REPEAT_PASSWORD_PLACEHOLDER')" required
          (ngModelChange)="resetMessages();" />
      </div>

      <button class="btn-primary btn-wide" [class.loading]="isLoading" type="submit"
        [disabled]="!newPassword || !repeatPassword || isLoading || error() || message()">
        {{ translate.instant('ACCESS.UPDATE_PASSWORD.BUTTON') }}
      </button>
    </form>

    @if (message()) {
    <p class="message success">{{ message() }}</p>
    }
    @if (error()) {
    <p class="message error">{{ error() }}</p>
    }
    @else if (!error() && !message()) {
    <p class="message"> </p>
    }
    }
  </div>
</div>
}
@else{
<div class="container">
  <div class="card">
    <div class="global-loader-overlay">
      <div class="global-spinner" aria-hidden="true"></div>
    </div>
  </div>
</div>
}