.header-wrapper {
  height: 0;
  position: relative;

  #logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
  }

  .toggle-theme {
    position: absolute;
    top: calc(var(--nav-height) / 2 - var(--icon-size-m) / 2);
    right: 0;
    margin-right: 1rem;
  }
}

.card {
  z-index: 1; /* Ensures the card is above the footer */

  .field-label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;

    a {
      transition: opacity 0.3s ease;

      &.fade {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .toggle {
    text-align: center;
  }
}

#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden; /* Traps the animation so no scrollbar triggers */

  #footer {
    z-index: -1;
    width: 100%;
    opacity: 0;
    overflow-y: hidden;
    text-align: center;

    animation: fadeIn 1.5s ease-out forwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
