.card {
  .field-label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;

    label {
      margin: 0;
    }
  }

  .forgot-password-link {
    font-size: 0.85rem;
    cursor: pointer;
  }

  button {
    margin-top: 0.5rem;
  }

  .toggle {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
  }

  .toggle-link {
    font-weight: 500;
    cursor: pointer;
    margin-left: 0.3rem;
  }
}

#footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden; /* Traps the animation so no scrollbar triggers */

  #footer {
    width: 100%;
    z-index: -1;
    opacity: 0;
    overflow-y: hidden;
    text-align: center;

    animation: fadeIn 1.5s ease-out forwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
