<div class="login-container">
  <div class="login-card">
    <h2>{{ isLoginMode ? 'Sign In' : 'Create Account' }}</h2>
    <p>Internal Workspace</p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Email</label>

        <input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          required 
          placeholder="name@pl-partners.dk"
          (ngModelChange)="message.set('')" 
        />
      </div>

      <div class="form-group">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.25rem;">
          <label style="margin: 0;">Password</label>

          @if (isLoginMode) {
            <a 
              routerLink="/forgot-password" 
              style="font-size: 0.85rem; color: #666; text-decoration: none; cursor: pointer;">
              Forgot password?
            </a>
            }
        </div>

        <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          required 
          (ngModelChange)="message.set('')" 
        />
      </div>

      @if (!isLoginMode) {
        <div class="form-group">
          <label>Account Type</label>
          <select [(ngModel)]="role" name="role">
            <option [value]=0>Admin</option>
            <option [value]=1>Consultant</option>
            <option [value]=2>Client</option>
          </select>
        </div>
      }

      <button type="submit" [disabled]="!email || !password">
        {{ isLoginMode ? 'Log In' : 'Register' }}
      </button>
    </form>

    <div style="text-align: center; margin-top: 1.5rem; font-size: 0.9rem;">
      <p>
        {{ isLoginMode ? "Don't have an account?" : "Already have an account?" }}
        <a 
          href="javascript:void(0)" 
          (click)="toggleMode()" 
          style="color: #000; text-decoration: underline; font-weight: bold; cursor: pointer;">
          {{ isLoginMode ? 'Sign Up' : 'Log In' }}
        </a>
      </p>
    </div>

    <p 
      style="text-align: center; margin-top: 1rem; font-weight: 500; min-height: 1.5rem;"
      [style.color]="messageColor">
      {{ message() }}
    </p>
  </div>
</div>