@if (pageReady()){
<div class="container">
  <div class="card">
    <div class="header">
      <button routerLink="/login" class="icon-button"
        aria-label="{{ 'ACCESS.FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}"
        title="{{ 'ACCESS.FORGOT_PASSWORD.BACK_TO_LOGIN' | translate }}"
        style="--icon-url: url('/assets/icons/arrow-back.svg')"></button>

      <h2>{{ 'ACCESS.FORGOT_PASSWORD.TITLE' | translate }}</h2>
      <div></div>
    </div>
    <p class="subtitle">{{ 'ACCESS.FORGOT_PASSWORD.SUBTITLE' | translate }}</p>

    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label>{{ 'ACCESS.FORGOT_PASSWORD.EMAIL_LABEL' | translate }}</label>
        <input type="email" [(ngModel)]="email" name="email"
          [placeholder]="'ACCESS.FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate" required
          (ngModelChange)="resetMessages()" />
      </div>

      <button type="submit" [disabled]="!email || isLoading" [class.loading]="isLoading"> {{
        'ACCESS.FORGOT_PASSWORD.BUTTON' |
        translate }}</button>
    </form>

    @if (message()) {
    <p class="message success">{{ message() }}</p>
    }
    @else if (error()) {
    <p class="message error">{{ error() }}</p>
    }
    @else if (!error() && !message()) {
    <p class="message"> </p>
    }
  </div>
</div>
}
@else{
<div class="container">
  <div class="card">
    <div class="global-loader-overlay">
      <div class="global-spinner" aria-hidden="true"></div>
    </div>
  </div>
</div>
}